.card{
    height:20rem !important;
}
.owl-main-page{
    height:auto !important;
}

.owl-slider{
   
    width:100% !important;
    margin: 0.5rem;
    margin-top: 1rem;
   
     
 }
 .owl-slider-img{
    height: 10rem !important;
    width: 100% !important;
    
  
 }
 
 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 700px) {
     .owl-slider-img{
         height: 7rem !important;
         width: 95% !important;
         margin:auto !important;
      }
      .owl-roof{
          margin: .5rem !important;
          width:90% !important;
      }
     
 }

.tümünü_gör_butonu{
    align-content:center !important;
    margin: auto !important;
    display: block !important;
    border-radius: 2rem !important;
    width: 75% !important;
   
}
.card-text{
    font-size: medium !important;
    font-weight: bold !important;
}
.card-header{
    font-weight: bold !important;
    color: white !important;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1024px) {
    .üst-bilgi{
        text-align: center !important;

    }
    .bg-white{
       
        margin-left:0.9rem !important;
        margin-right:0.9rem !important;
    }
    .card-text{
        font-size: medium !important;
        font-weight: bold !important;
    }
    .card-header{
        font-size: large !important;
    }
    
    
  }

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
  
    .card-text{
        font-size: medium !important;
    }
    .card-header{
        font-size: large !important;
    }

    .ana-sayfa-ürün{
        height: 10rem !important;
    }
    .owl-main-page{
        width: 92% !important;
    }
    .card{
        height: auto !important;
    }
    .tümünü_gör_butonu{
        width: 50% !important;
    }
    
    
  }