.card{
    height:20rem !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.owl-main-page{
    height:auto !important;
}



.tümünü_gör_butonu{
    align-content:center !important;
    margin: auto !important;
    display: block !important;
    border-radius: 2rem !important;
    width: 75% !important;
   
}
.card-text{
    font-size: medium !important;
    font-weight: bold !important;
}
.card-header{
    font-weight: bold !important;
    color: white !important;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1024px) {
    .üst-bilgi{
        text-align: center !important;

    }
    .bg-white{
       
        margin-left:0.9rem !important;
        margin-right:0.9rem !important;
    }
    .card-text{
        font-size: medium !important;
        font-weight: bold !important;
    }
    .card-header{
        font-size: large !important;
    }
    
    
  }

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
  
    .card-text{
        font-size: medium !important;
    }
    .card-header{
        font-size: large !important;
    }

    .ana-sayfa-ürün{
        height: 10rem !important;
    }
    .owl-main-page{
        width: 92% !important;
    }
    .card{
        height: auto !important;
    }
    .tümünü_gör_butonu{
        width: 50% !important;
    }
    
    
  }