.owl-for-videos{
    background-image: url("./bgi.jpg");
    border-radius: 1rem;
    

   
}
.react-player{
    margin-bottom: 3rem !important;
    
}

.owl-prev {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
    color:black;
}

.owl-next {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    right: -1px;
    display: block !important;
    border:0px solid black;
    color:black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}


 
 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 700px) {
    .react-player{
       
        margin-bottom: 0.5rem !important;
        
    }
     
 }

 