.menu-item:hover{
    background-color: #333;
}

.menu-item:active{
    background-color: #333;
}

.menu-item:focus{
    background-color: #333;
}
.analogo{
    height: 7rem !important;
    margin-top: -2rem !important;
}
.anasepet:hover{
    color:white;
    background-color: black;
}
.yediyirmidort{
    position:absolute;
    top:1rem;
    right:5rem;
}



.icon_top{
    font-size: x-large !important;
    /*color: #2E6772 !important;*/

  transition: 0.6s linear;
  animation-duration: 50ms;
  animation-name: icon_top;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes icon_top {
    from {color: black;}
    to {color: #7ac043}
  }

.icon_top:hover{
    color:#45C1DA !important;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1220px) {
    .nav{
        height: auto !important;
    }
    .search{
        display: none !important;
    }
    .analogo{
        width:10rem !important;
        margin-bottom: -2rem !important;
    }
    .anasepet{
        float:right !important;
        position:absolute;
        top:1rem;
        right:2rem;
    }
    .yediyirmidort{
        display: none !important;
    }
    .sepetUrunSayisi{
        float:right !important;
        position:absolute !important;
        top:1rem !important;
        right:1rem !important;
    }


}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sepetUrunSayisi{
        float:right !important;
        position:absolute !important;
        top:1rem !important;
        right:1rem !important;
    }

}