.menu-item:hover{
    background-color: #333;
}

.menu-item:active{
    background-color: #333;
}

.menu-item:focus{
    background-color: #333;
}

.anasepet:hover{
    color:white;
    background-color: black;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1200px) {
    .nav{
        height: auto !important;
    }
    .search{
        display: none !important;
    }
    .analogo{
        width:10rem !important;
    }
    .anasepet{
        float:right !important;
        position:absolute;
        top:1rem;
        right:2rem;
    }


}