/* ürünün_resmi,ürünün_kategorisi,ürünün_ismi,ürünün_linki,ürünün_ilk_fiyatı,ürünün_son_fiyatı */


.ürünün_resmi{
    height: 10rem !important;
    
    
}
.ürün_indirim_etiketi{
    background-color:#50C4DB;
    color:white;
    border-radius: 1rem;
    text-align: center;
    width:5rem;
    z-index: 1;
    position:relative;
    bottom: 9rem;
}
.sepet_ikonu{
    color:black;
    z-index: 1;
    position:relative;
    bottom: 5rem;
}
.sepet_ikonu:hover{
    color:greenyellow;
    
}
.ürünün_ismi{
    color:#15A8F2;
    text-decoration-style: none;
    font-size: small;
    float:left;
    margin-top: -4rem;
   
    
}

.ürünlerin_fiyat_bilgileri{
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;

   
    
    
  
}


.ürünün_ilk_fiyatı{
    float:left;
    color:gray;
    font-weight: bold;
    text-decoration-line:line-through;
    text-decoration-thickness: 1.5px;
    
}
.ürünün_son_fiyatı{
    float:left;
    font-weight: bold;
    margin-left: 1rem !important;
    
    
    
}