
.ürünacıklama_indirim{
    float:left;
    background-color:#37ACB0;
    border-radius: 1rem;
    color: white;
    padding: 5px;  
    z-index: +100; 
}


.ürünacıklama_zoom:hover{
    background-color: black;
    color:white;
    
}


.ürünacıklama_alt_taraf{
    background-color: white;
    width: 100%;
}

.ürünacıklama_ilk_fiyat{
    float:left;
    color:gray;
    font-weight: bold;
    font-size: x-large;
    text-decoration-line:line-through;
    text-decoration-thickness: 1.5px;
    
}
.ürünacıklama_indirimli_fiyat{
    float:left;
    font-weight: bold;
    margin-left: 2rem;
    font-size: x-large;
    
    
}
.ürünacıklama_azalt,.ürünacıklama_arttır{

    width:3rem;
    background-color:#F6F6F6;
    border:1px lightgray solid;
    height: 3rem;
    font-size: x-large;
}
.whatsappMesajıGönder{
    background-color: #F2F4F5 !important;
    border-radius: 0.3rem;
    padding:0.5rem !important;
    border-left: 2px #26F91E solid;
    border-right: 2px #26F91E solid;
}
.whatsappMesajıGönder:hover{
    background-color: #E3FAEC !important;
}
.siziArayalım:hover{
    background-color: #EAF7FC !important;
}
a:hover{
    text-decoration: none !important;

}
.siziArayalım{
    background-color: #F2F4F5 !important;
    border-radius: 0.3rem;
    padding:0.5rem !important;
    border-left: 2px blue solid;
    border-right: 2px blue solid;
}
.acıklama_tabs:hover{
    background-color: #F2F4F5 !important;
    color:black !important;

}


.urunAciklamaResmi{
    width: 80%;
    display: block;
    margin: auto;
    
}
.urunAciklamaIsmi{
    font-size: xx-large;

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
    .urunAciklamaResmi{
        width: 100%;
       
    }
    .urunAciklamaIsmi{
        font-size: large;
    
    }
    

}