.nav{
  background-color: #7ac043;
}

.app{
  background-color: #f4f5f9;
  overflow-x: hidden;
}

.footer-alt{
  background-color: #263646;
}

.footer-alt2{
  background-color: #7ac043;
}

.ck-editor__editable {
  min-height: 30vh;
}