    /* for desktop */
    .whatsapp_float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
      
     
      
  }
  .roof{
    background-color:green ;
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: 0.6s linear;
    animation-duration: 50ms;
    border:2px green solid;
  }
  
/* The animation code */
@keyframes roof {
  from {background-color: green;}
  to {background-color: white}
}

.roof {
  animation-name: roof;
  animation-duration: 2s;
  
  animation-iteration-count: infinite;
 
}

  .roof:hover{
    background-color:white ;
    

  }

  .whatsapp-icon {
      margin-top: 16px;   
      
  }

  .phone-icon{
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px) {
      .whatsapp-icon {
          margin-top: 10px;
      }

      .whatsapp_float {
          width: 40px;
          height: 40px;
          bottom: 20px;
          right: 10px;
          font-size: 22px;
      }
  }












.footer-btn-link{
  color:black !important;
  font-size: small !important;

}
.footer-list-group li{
 
  list-style-image: url("./favicon_small.png");
  border-bottom:1px solid #ECECEC;
  margin-left: 2rem !important;
  
  
}

.footer-list-group li:hover a:not(.active){
    color:#7ac043 !important;
    text-decoration: none !important;
   

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
  .footer-nutrition{
    display: block !important;
    margin:auto !important;
    margin-bottom: -1rem !important;

  }
  .bagimsizuye{
    
    float:center !important;
    margin:auto !important;
    font-size: small !important;
    
  
  }
  .sebertech{
    float:center !important;
    margin:auto !important;
    font-size: small !important;
    
   
  }
  
}



